In [26]:
import pandas as pd

In [60]:
df=pd.read_csv("datasets/test01.csv")

In [40]:
import numpy as np
shuffled_indices=np.random.permutation(len(df))

In [41]:
test_set_size=int(len(df)*0.2)

In [42]:
test_indices=shuffled_indices[:test_set_size]

In [43]:
train_indices=shuffled_indices[test_set_size:]

In [44]:
df.iloc[train_indices]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
11,-122.26,37.85,52,3503,752,1504,734,3.2705,241800,NEAR BAY
1,-122.22,37.86,21,7099,1106,2401,1138,8.3014,358500,NEAR BAY
4,-122.25,37.85,52,1627,280,565,259,3.8462,342200,NEAR BAY
8,-122.26,37.84,42,2555,665,1206,595,2.0804,226700,NEAR BAY
15,-122.26,37.85,50,1120,283,697,264,2.1250,140000,NEAR BAY
3,-122.25,37.85,52,1274,235,558,219,5.6431,341300,NEAR BAY
7,-122.25,37.84,52,3104,687,1157,647,3.1200,241400,NEAR BAY
14,-122.26,37.85,52,2643,626,1212,620,1.9167,159200,NEAR BAY
16,-122.27,37.85,52,1966,347,793,331,2.7750,152500,NEAR BAY
6,-122.25,37.84,52,2535,489,1094,514,3.6591,299200,NEAR BAY
18,-122.26,37.84,50,2239,455,990,419,1.9911,158700,NEAR BAY
10,-122.26,37.85,52,2202,434,910,402,3.2031,281500,NEAR BAY
17,-122.27,37.85,52,1228,293,648,303,2.1202,155500,NEAR BAY
0,-122.23,37.88,41,880,129,322,126,8.3252,452600,NEAR BAY
13,-122.26,37.84,52,696,191,345,174,2.6736,191300,NEAR BAY
2,-122.24,37.85,52,1467,190,496,177,7.2574,352100,NEAR BAY

In [45]:
df.iloc[test_indices]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
9,-122.25,37.84,52,3549,707,1551,714,3.6912,261100,NEAR BAY
12,-122.26,37.85,52,2491,474,1098,468,3.0750,213500,NEAR BAY
5,-122.25,37.85,52,919,213,413,193,4.0368,269700,NEAR BAY

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
train_set,test_set=train_test_split(df,test_size=0.2,random_state=42)

In [63]:
train_set

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
8,-122.26,37.84,42,2555,665,1206,595,2.0804,226700,NEAR BAY
16,-122.27,37.85,52,1966,347,793,331,2.7750,152500,NEAR BAY
3,-122.25,37.85,52,1274,235,558,219,5.6431,341300,NEAR BAY
13,-122.26,37.84,52,696,191,345,174,2.6736,191300,NEAR BAY
15,-122.26,37.85,50,1120,283,697,264,2.1250,140000,NEAR BAY
17,-122.27,37.85,52,1228,293,648,303,2.1202,155500,NEAR BAY
2,-122.24,37.85,52,1467,190,496,177,7.2574,352100,NEAR BAY
9,-122.25,37.84,52,3549,707,1551,714,3.6912,261100,NEAR BAY
18,-122.26,37.84,50,2239,455,990,419,1.9911,158700,NEAR BAY
4,-122.25,37.85,52,1627,280,565,259,3.8462,342200,NEAR BAY
12,-122.26,37.85,52,2491,474,1098,468,3.0750,213500,NEAR BAY
7,-122.25,37.84,52,3104,687,1157,647,3.1200,241400,NEAR BAY
10,-122.26,37.85,52,2202,434,910,402,3.2031,281500,NEAR BAY
14,-122.26,37.85,52,2643,626,1212,620,1.9167,159200,NEAR BAY
6,-122.25,37.84,52,2535,489,1094,514,3.6591,299200,NEAR BAY

In [64]:
test_set

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129,322,126,8.3252,452600,NEAR BAY
5,-122.25,37.85,52,919,213,413,193,4.0368,269700,NEAR BAY
11,-122.26,37.85,52,3503,752,1504,734,3.2705,241800,NEAR BAY
1,-122.22,37.86,21,7099,1106,2401,1138,8.3014,358500,NEAR BAY

In [65]:
df["income_cat"]=pd.cut(df["median_income"],bins=[0.,1.5,3.0,4.5,6.,np.inf],labels=[1,2,3,4,5])

In [66]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,income_cat
0,-122.23,37.88,41,880,129,322,126,8.3252,452600,NEAR BAY,5
1,-122.22,37.86,21,7099,1106,2401,1138,8.3014,358500,NEAR BAY,5
2,-122.24,37.85,52,1467,190,496,177,7.2574,352100,NEAR BAY,5
3,-122.25,37.85,52,1274,235,558,219,5.6431,341300,NEAR BAY,4
4,-122.25,37.85,52,1627,280,565,259,3.8462,342200,NEAR BAY,3
5,-122.25,37.85,52,919,213,413,193,4.0368,269700,NEAR BAY,3
6,-122.25,37.84,52,2535,489,1094,514,3.6591,299200,NEAR BAY,3
7,-122.25,37.84,52,3104,687,1157,647,3.1200,241400,NEAR BAY,3
8,-122.26,37.84,42,2555,665,1206,595,2.0804,226700,NEAR BAY,2
9,-122.25,37.84,52,3549,707,1551,714,3.6912,261100,NEAR BAY,3
10,-122.26,37.85,52,2202,434,910,402,3.2031,281500,NEAR BAY,3
11,-122.26,37.85,52,3503,752,1504,734,3.2705,241800,NEAR BAY,3
12,-122.26,37.85,52,2491,474,1098,468,3.0750,213500,NEAR BAY,3
13,-122.26,37.84,52,696,191,345,174,2.6736,191300,NEAR BAY,2
14,-122.26,37.85,52,2643,626,1212,620,1.9167,159200,NEAR BAY,2
15,-122.26,37.85,50,1120,283,697,264,2.1250,140000,NEAR BAY,2
16,-122.27,37.85,52,1966,347,793,331,2.7750,152500,NEAR BAY,2
17,-122.27,37.85,52,1228,293,648,303,2.1202,155500,NEAR BAY,2
18,-122.26,37.84,50,2239,455,990,419,1.9911,158700,NEAR BAY,2